In [3]:
import pandas as pd

# Employee DataFrame
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}
df_employee = pd.DataFrame(employee_data)
df_employee.to_csv("Employee.csv", index=False)

# Seniority Level DataFrame
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}
df_seniority = pd.DataFrame(seniority_data)
df_seniority.to_csv("Seniority.csv", index=False)

# Project DataFrame
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", "Project 8", "Project 9",
                "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", "Ongoing", 
               "Finished", "Failed", "Ongoing", "Finished", "Finished"]
}
df_project = pd.DataFrame(project_data)
df_project.to_csv("Project.csv", index=False)

print("Task 1 Completed: Data saved as CSV files.")

Task 1 Completed: Data saved as CSV files.

In [5]:
import numpy as np

df_project = pd.read_csv("Project.csv")

# Compute running average for missing values
costs = df_project["Cost"].to_list()
for i in range(len(costs)):
    if pd.isna(costs[i]):  # If cost is missing
        costs[i] = np.mean([x for x in costs[:i] if not pd.isna(x)])  # Running average

df_project["Cost"] = costs
df_project.to_csv("Project.csv", index=False)

print("Task 2 Completed: Missing cost values replaced.")

Task 2 Completed: Missing cost values replaced.

In [7]:
df_employee = pd.read_csv("Employee.csv")

df_employee[["First Name", "Last Name"]] = df_employee["Name"].str.split(" ", expand=True)
df_employee.drop(columns=["Name"], inplace=True)

df_employee.to_csv("Employee.csv", index=False)
print("Task 3 Completed: Name column split.")

Task 3 Completed: Name column split.

In [9]:
df_final = df_employee.merge(df_seniority, on="ID").merge(df_project, on="ID")
df_final.to_csv("Final.csv", index=False)

print("Task 4 Completed: DataFrames merged into Final.csv.")

Task 4 Completed: DataFrames merged into Final.csv.

In [11]:
df_final["Bonus"] = df_final.apply(lambda row: row["Cost"] * 0.05 if row["Status"] == "Finished" else 0, axis=1)
df_final.to_csv("Final.csv", index=False)

print("Task 5 Completed: Bonus column added.")

Task 5 Completed: Bonus column added.

In [13]:
failed_ids = df_final[df_final["Status"] == "Failed"]["ID"].unique()

df_final.loc[df_final["ID"].isin(failed_ids), "Designation Level"] += 1
df_final = df_final[df_final["Designation Level"] <= 4]

df_final.to_csv("Final.csv", index=False)
print("Task 6 Completed: Designation levels adjusted.")

Task 6 Completed: Designation levels adjusted.

In [15]:
df_final["First Name"] = df_final.apply(lambda row: ("Mr. " if row["Gender"] == "M" else "Mrs. ") + row["First Name"], axis=1)
df_final.drop(columns=["Gender"], inplace=True)

df_final.to_csv("Final.csv", index=False)
print("Task 7 Completed: Names updated.")

Task 7 Completed: Names updated.

In [17]:
df_final.loc[df_final["Age"] > 29, "Designation Level"] -= 1
df_final.to_csv("Final.csv", index=False)

print("Task 8 Completed: Older employees promoted.")

Task 8 Completed: Older employees promoted.

In [19]:
total_proj_cost = df_final.groupby(["ID", "First Name"])["Cost"].sum().reset_index()
total_proj_cost.rename(columns={"Cost": "Total Cost"}, inplace=True)

total_proj_cost.to_csv("TotalProjCost.csv", index=False)
print("Task 9 Completed: Total cost per employee calculated.")

Task 9 Completed: Total cost per employee calculated.

In [21]:
filtered_employees = df_final[df_final["City"].str.contains("o", case=False, na=False)]
print("Employees in cities containing 'o':")
print(filtered_employees)

filtered_employees.to_csv("Employees_with_o.csv", index=False)
print("Task 10 Completed: Employees saved.")

Employees in cities containing 'o':
      ID     City  Age  First Name  Last Name  Designation Level     Project  \
3   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 2
4   A002   London   27  Mrs. Alice  Luxumberg                  3   Project 6
8   A004  Newyork   31   Mrs. Nina      Adgra                  1   Project 4
9   A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 12
10  A004  Newyork   31   Mrs. Nina      Adgra                  1  Project 13

         Cost    Status     Bonus
3   2000000.0   Ongoing       0.0
4    680000.0    Failed       0.0
8   5500000.0   Ongoing       0.0
9   1000000.0   Ongoing       0.0
10  3000000.0  Finished  150000.0
Task 10 Completed: Employees saved.